{% extends 'base.html.twig' %}

{% block title %}Gestion des agents{% endblock %}

{% block body %}

<section>
    <p></p><h1>Liste des agents</h1>
    <p>Vous pouvez visualiser le détail de chaque agent par le bouton "Détail".</p>
    {% if app.user %}
    <p></p><p>Avec un compte d'administration, vous pouvez :</p>
    <p>- créer un nouvel agent : <a href="{{ path('agent_create') }}" class="btn btn-success">Créer</a></p>
    <p>- modifier les info d'un agent par le bouton "Modifier" </p>
    <p>- supprimer un agent par le bouton "Supprimer".</p>
    {% endif %}
    <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
            <thead class="thead-light">
            <th>Nom</th>
            </thead>
        </tr>
        {% for n_agent in agent %}
            <article>
                <tr>
                    <td> {{ n_agent.name }} </td>
                    <td><a href="{{ path('agent_show',{'id': n_agent.id}) }}" class="btn btn-success">Détail</a></td>
                    {% if app.user %}
                    <td><a href="{{ path('agent_edit',{'id': n_agent.id}) }}" class="btn btn-warning">Modifier</a></td>
                    <td><a href="{{ path('agent_del',{'id': n_agent.id}) }}" class="btn btn-danger" onclick="return confirm('Confirmez la suppression ?')">Supprimer</a></td>
                    {% endif %}
                </tr>
            </article>
        {% endfor %}
    </table>
</section>
{{ knp_pagination_render(agent) }}
{% endblock %}