{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name}}{% endblock %}

{% block body %}

<table class="table table-dark table-striped table-bordered table-hover">
    <tr>
        <thead class="thead-light">
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date naissance</th>
        <th>Nationalité</th>
        <th>Code Indentification</th>
        <th>Spécialité</th>
        </thead>
    </tr>

        <article>
            <tr>
                <td> {{ agent.name }} </td>
                <td> {{ agent.firstname }} </td>
                <td> {{ agent.birthday | date('d/m/Y') }} </td>
                <td> {{ agent.country.nationality }} </td>
                <td> {{ agent.codeIdentification }} </td>
                <td> {% for ag in agent.specialities %}
                        <p> {{ ag.name }} </p>
                    {% endfor %}
                </td>
            </tr>

        </article>

</table>

<a href="{{ path('agent') }}" class="btn btn-success">Retour</a>
{% endblock %}