{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name}}{% endblock %}

{% block body %}

<section>
    <p></p><p>Ci-joint la liste des statuts proposées. </p>
    <p></p><p>Avec un compte d'administration, vous pouvez :</p>
    <p>- créer une nouveau statut : <a href="{{ path('status_create') }}" class="btn btn-success">Créer</a></p>
    <p>- modifier le contenu d'un statut par le bouton "Modifier" </p>
    <p>- supprimer un status par le bouton "Supprimer".</p>
    <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
            <thead class="thead-light">
            <th>Détail</th>
            </thead>
        </tr>
        {% for statut in status %}
            <article>
                <tr>
                    <td> {{ statut.DetailStatus  }} </td>
                    <td><a href="{{ path('status_show',{'id': statut.id}) }}" class="btn btn-success">Détail</a></td>
                    <td><a href="{{ path('status_edit',{'id': statut.id}) }}" class="btn btn-warning">Modifier</a></td>
                    <td><a href="{{ path('status_del',{'id': statut.id}) }}" class="btn btn-danger" onclick="return confirm('Confirmez la suppression ?')">Supprimer</a></td>
                </tr>
            </article>
        {% endfor %}
    </table>
</section>
{{ knp_pagination_render(status) }}
{% endblock %}