{% extends 'base.html.twig' %}

{% form_theme formSpeciality 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'une spécialité </h1>

    {{ form_start(formSpeciality) }}

    {{ form_row(formSpeciality.name)}}
    {{ form_row(formSpeciality.detail)}}
    {{ form_row(formSpeciality.agent)}}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter le status
        {% endif %}
        </button>

    {{ form_end(formSpeciality) }}

{% endblock %}