{% extends 'base.html.twig' %}

{% block title %}Gestion des spécialités{% endblock %}

{% block body %}

<section>
    <p></p><h1>Liste des spécialités</h1>
    <p>Vous pouvez visualiser le détail de chaque spécialité par le bouton "Détail".</p>
    {% if app.user %}
    <p></p><p>Avec un compte d'administration, vous pouvez :</p>
    <p>- créer une nouvelle spécialité : <a href="{{ path('speciality_create') }}" class="btn btn-success">Créer</a></p>
    <p>- modifier le contenu d'une spécialité par le bouton "Modifier" </p>
    <p>- supprimer une spécialité par le bouton "Supprimer".</p>
    {% endif %}
    <table class="table table-dark table-striped table-bordered table-hover">
        <tr>
            <thead class="thead-light">
            <th>Détail</th>
            </thead>
        </tr>
        {% for n_speciality in speciality %}
            <article>
                <tr>
                    <td> {{ n_speciality.name  }} </td>
                    <td><a href="{{ path('speciality_show',{'id': n_speciality.id}) }}" class="btn btn-success">Détail</a></td>
                    {% if app.user %}
                    <td><a href="{{ path('speciality_edit',{'id': n_speciality.id}) }}" class="btn btn-warning">Modifier</a></td>
                    <td><a href="{{ path('speciality_del',{'id': n_speciality.id}) }}" class="btn btn-danger" onclick="return confirm('Confirmez la suppression ?')">Supprimer</a></td>
                    {% endif %}
                </tr>
            </article>
        {% endfor %}
    </table>
</section>
{{ knp_pagination_render(speciality) }}
{% endblock %}